.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1rem;
  border-radius: 3px;
  z-index: 1;
}

.modal__header {
  display: flex;
  justify-content: flex-end;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

.modal__close {
  font-size: 2rem;
  cursor: pointer;
}
