html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --dark-blue: #1b262c;
  --blue: #0f4c81;
  --transparent-blue: #0f4c81b7;
  --red: #ed6663;
  --orange: #ffa372;
}
