.dashboard {
  flex: 1;
  display: flex;
}

.dashboard__sidebar {
  display: flex;
  justify-content: center;
  background: var(--blue);
  color: white;
  width: 20vw;
  transition: 0.3s width ease;
}

.dashboard__main {
  flex: 1;
}

.sidebar__icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar_minimized {
  width: 4rem;
}

.sidebar__inner {
  display: flex;
  flex-direction: column;
}

.sidebar__inner > * {
  margin: 0.5rem;
}
