.table {
  overflow-y: scroll;
  max-height: 50vh;
  border: 2px solid var(--blue);
}

table {
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
}

th {
  position: sticky;
  top: 0;
  background: var(--blue);
}

tr:nth-child(even) {
  background-color: var(--grey);
}

.button {
  display: flex;
  border: 2px solid var(--blue);
  cursor: pointer;
}

.icon {
  font-size: 1rem;
  color: var(--blue);
  background: white;
}
