.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 1rem;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--blue);
}

.header__logo {
  display: flex;
  align-items: center;
  color: var(--blue);
  text-decoration: none;
}

.header__logo__icon {
  font-size: 2rem;
  margin-right: 0.3rem;
}

.header__nav {
  display: flex;
  align-items: center;
  color: var(--blue);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__nav > *:not(:last-child) {
  margin-right: 2rem;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > *:not(:last-child) {
  margin-right: 2rem;
}

.header__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blue);
  text-decoration: none;
}

.link__text {
  font-size: 1rem;
}
