.register {
  display: flex;
}

.register__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.register__form {
  display: flex;
  flex-direction: column;
}

.register__form > *:not(:last-child) {
  margin-bottom: 1rem;
}

.register__image {
  width: 25%;
  object-fit: cover;
}

.modal__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
